//color
$main-color: #5599C8 !default;
$purple: #8A82CB !default;
$orange: #FEA782 !default;
$yellow: #F5CF05 !default;
// font
$font-family: sans-serif;
$font-m: 16px !default;
$font-l: $font-m * 1.125;
$font-s: $font-m * 0.875;
// media
$desktop-media: 1000px;
$pad-media: 768px;
$padToPhone-media :$pad-media - 1;
$phone-media: 480px;